In [13]:
import pandas as pd

In [14]:
kplc = pd.read_csv("../data/kplc.csv")

In [15]:
kplc

,household_id,household_type,region,month,consumption_kWh,temperature,rainfall,theft_flag,prev_month_consumption,consumption_diff,3m_avg,6m_avg
0,0,low,Eldoret,2022-01-01,65.057809,22.149151,121.117793,0,NaN,NaN,NaN,NaN
1,0,low,Eldoret,2022-02-01,64.967802,23.244072,162.554036,0,65.057809,-0.090006,NaN,NaN
2,0,low,Eldoret,2022-03-01,62.733026,24.099410,131.973421,0,64.967802,-2.234776,64.252879,NaN
3,0,low,Eldoret,2022-04-01,57.824316,23.485803,126.024846,0,62.733026,-4.908710,61.841715,NaN
4,0,low,Eldoret,2022-05-01,59.342724,20.718842,77.695320,0,57.824316,1.518408,59.966689,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
71995,1999,low,Malindi,2024-08-01,47.256463,17.431701,32.532851,0,36.464498,10.791965,42.906372,43.948830
71996,1999,low,Malindi,2024-09-01,45.043167,14.850853,45.522549,0,47.256463,-2.213295,42.921376,44.063124
71997,1999,low,Malindi,2024-10-01,42.888163,15.481359,64.706080,0,45.043167,-2.155004,45.062598,42.981740
71998,1999,low,Malindi,2024-11-01,56.989555,16.602671,94.130703,0,42.888163,14.101391,48.306962,45.606667
71999,1999,low,Malindi,2024-12-01,41.493986,18.378351,132.383549,0,56.989555,-15.495569,47.123901,45.022639

In [16]:
kplc["region"].unique().tolist()

['Eldoret',
 'Mombasa',
 'Kisumu',
 'Nakuru',
 'Malindi',
 'Nairobi',
 'Nyeri',
 'Thika']

In [17]:
kplc.dtypes

household_id                int64
household_type             object
region                     object
month                      object
consumption_kWh           float64
temperature               float64
rainfall                  float64
theft_flag                  int64
prev_month_consumption    float64
consumption_diff          float64
3m_avg                    float64
6m_avg                    float64
dtype: object

In [18]:
kplc["theft_flag"].dtypes

dtype('int64')